.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #d4d18a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #000000;
}

.App-header-div {
    padding: 10px;
}

.App-link {
    color: #61dafb;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    list-style-type: none;
}

.contact-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
}

.contact-item img {
    max-width: 50px;
    max-height: 50px;
    object-fit: cover;
    padding: 5px;
}

.avatar {
    max-width: 50px;
    max-height: 50px;
    object-fit: cover;
    padding: 5px;
}

a {
    color: inherit;
}

.headerNav{
    padding: 30px;
}